<article id="playlist-view">
    <container class="wrapper">
        <section>
            <div class="playlist-info">
                <div class="playlist-icon">
                    <img src="/src/assets/images/playlists/cover.png">
                </div>
                <div class="info">
                    <span>
                        <p>Private Playlist</p>
                        <h1>PFK</h1>
                    </span>
                    <span>alex ${playlistLenght} songs, <p>${playlistDuration}</p></span>
                </div>
            </div>
        </section>
        <div class="show-more">
            <div>
                <div>
                    <i class="fa-solid fa-play"></i>
                </div>
                <span>...</span>
            </div>

            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <button class="filters-btn">
                    Custom Order
                    <div class="filters-dropdown"></div>
                </button>
            </div>
        </div>
        <container class="playlists-container">
            <div class="wrapper"></div>
        </container>
    </container>
</article>