body {
	font-family: Arial, sans-serif;
	background-color: var(--background);
	color: white;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

main{
	width: 100%;
	height: 100%;
	display: flex;
}


main  > aside{
	width: 22.5%;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	margin: 10px 0 10px 10px;
	gap: 10px;
}

main  > aside > :first-child{
	min-height: 12%;
	width: 100%;
	border-radius: 8px;
	background-color: var(--bg-primary);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

aside button span{
	font-size: 1rem;
	opacity: .75;
	font-weight: 550;
	letter-spacing: .45px;
}


main  > aside > :last-child{
	height: 90%;
	width: 100%;
	border-radius: 12px;
	background-color: var(--bg-primary);
	display: flex;
	flex-direction: column;

}
main > aside > :last-child > container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
main > aside > :last-child > container > nav{
	width: 100%;
	min-height: 15%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 1);
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 1);
}

nav .nav-title{
	display: flex;
	justify-content: space-between;
	width: 95%;
	height: 50px;
}

.nav-title .title{
	display: flex;
	align-items: center;
	width: 80%;
	gap: 15px;
	padding-left: 15px;
}
.nav-title .title span{
	font-size: 1rem;
	opacity: .60;
	font-weight: 700;
	letter-spacing: .6px;
	position: relative;
}
nav .nav-icons{
	display: flex;
	align-items: center;
	width: 15%;
	justify-content: space-between;
}

nav .filters {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

nav .filters::before,
nav .filters::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px; 
    height: 100%; 
}

nav .filters::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); /* Gradient cienia od pełnego koloru do przezroczystości */
}

nav .filters::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); /* Gradient cienia od pełnego koloru do przezroczystości */
}


nav .filters .filters-wrapper {
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
	gap: 20px;
	overflow-x: auto;
}

nav .filters .filter {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: var(--accent); 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    white-space: nowrap; 
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;

}
.filter span{
	font-size: .85rem;
	opacity: .90;
	font-weight: 520;
	letter-spacing: .6px;
}
nav .filters .filter:hover{
	background-color: var(--bg-hover);
	transition: .2s;
	cursor: pointer;
}



nav .menu{
	width: 95%;
	height: 35px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}
nav .menu span{
	font-size: .85rem;
	opacity: .60;
	font-weight: 520;
	letter-spacing: .6px;
}
.menu > :first-child{
	padding-left: 15px;
}
.menu > :last-child{
	padding-right: 15px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.menu i{
	opacity: .5;
}

.playlists-container {
    overflow-y: auto; 
	display: flex;
	height: 50vh;
	margin-top: 10px;
}

.playlists-container > .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
	height: 100%;
    align-items: center;
}


.playlist{
	width: 100%;
	border-radius: 6px;
	gap: 7.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.playlist .wrapper{
	width: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 7.5px;
}
.playlist:hover{
	background-color: var(--bg-hover);
	transition: .2s;
	cursor: pointer;
}
.playlist:active {
	background-color: var(--bg-active);
	transition: .8s;
	cursor: pointer;
}

.playlist .playlist-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
	width: 100%;
	height: 100%;
}
.playlist .playlist-icon img{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.playlist-title{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.playlist-description{
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.playlist-description span{
	font-size: .85rem;
	opacity: .60;
	font-weight: 550;
	letter-spacing: .6px;
	padding-bottom: 10px;

}
.playlist-title span{
	font-size: 1rem;
	opacity: .9;
	font-weight: 550;
	letter-spacing: .6px;
	padding: 2.5px;
	position: relative;
}

main  > .main{
	width: 80%;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-primary);
	border-radius: 12px;
	margin: 10px 10px 10px 10px;
}

footer{
	height: 10%;
	width: 100%;
	z-index: 10;
	position: absolute;
	top: 90%;
	display: flex;
	justify-content: space-between;
	background-color: var(--background);
}

footer .col{
	width: 25%;
	background-color: red;
}
footer > :nth-child(2){
	width: 30%;
}