body {
	background-color: var(--background);
	color: white;
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

main{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main-section{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

main > div > aside{
	width: 22.5%;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	margin: 10px 0 10px 10px;
	gap: 10px;
}

main  > div > aside > :first-child{
	min-height: 12%;
	width: 100%;
	border-radius: 8px;
	background-color: var(--bg-primary);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

aside button span{
	font-size: 1rem;
	opacity: .75;
	font-weight: 550;
	letter-spacing: .45px;
}


main  > div > aside > :last-child{
	height: 90%;
	width: 100%;
	border-radius: 12px;
	background-color: var(--bg-primary);
	display: flex;
	flex-direction: column;

}
main > div > aside > :last-child > container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
main > div > aside > :last-child > container > nav{
	width: 100%;
	min-height: 15%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 1);
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 1);
}

nav .nav-title{
	display: flex;
	justify-content: space-between;
	width: 95%;
	height: 50px;
}

.nav-title .title{
	display: flex;
	align-items: center;
	width: 80%;
	gap: 15px;
	padding-left: 15px;
}
.nav-title .title span{
	font-size: 1rem;
	opacity: .60;
	font-weight: 700;
	letter-spacing: .6px;
	position: relative;
}
nav .nav-icons{
	display: flex;
	align-items: center;
	width: 15%;
	justify-content: space-between;
}

nav .filters {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

nav .filters::before,
nav .filters::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px; 
    height: 100%; 
}

nav .filters::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
}

nav .filters::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
}


nav .filters .filters-wrapper {
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
	gap: 20px;
	overflow-x: auto;
}

nav .filters .filter {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: var(--accent); 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    white-space: nowrap; 
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;

}
.filter span{
	font-size: .85rem;
	opacity: .90;
	font-weight: 520;
	letter-spacing: .6px;
}
nav .filters .filter:hover{
	background-color: var(--bg-hover);
	transition: .2s;
	cursor: pointer;
}



nav .menu{
	width: 95%;
	height: 35px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}
nav .menu span{
	font-size: .85rem;
	opacity: .60;
	font-weight: 520;
	letter-spacing: .6px;
}
nav .menu > :first-child{
	padding-left: 15px;
}
nav.menu > :last-child{
	padding-right: 15px;
	display: flex;
	gap: 10px;
	align-items: center;
}

nav .menu i{
	opacity: .5;
}

.playlists-container {
    overflow-y: auto; 
	display: flex;
	margin-top: 10px;
}

.playlists-container > .playlists-wrapper {
    width: 100%;
    display: grid;
	height: min-content;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    position: relative;
}


.playlist{
	width: 100%;
	height: max-content;
	border-radius: 6px;
	gap: 7.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-wrap: nowrap;
}
.playlist .wrapper{
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 7.5px;
}
.playlist:hover{
	background-color: var(--bg-hover);
	transition: .2s;
	cursor: pointer;
}
.playlist:active {
	background-color: rgba(0, 0, 0, .3);
	transition: .4s;
	cursor: pointer;
}

.playlist .playlist-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
	width: 100%;
	height: 100%;
}
.playlist .playlist-icon img{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.playlist-title{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.playlist-description{
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.playlist-description span{
	font-size: .85rem;
	opacity: .60;
	font-weight: 550;
	letter-spacing: .6px;
	padding-bottom: 10px;

}
.playlist-title span{
	font-size: 1rem;
	opacity: .9;
	font-weight: 550;
	letter-spacing: .6px;
	padding: 2.5px;
	position: relative;
}

main > div > .main{
	width: 80%;
	background: linear-gradient(180deg, rgba(125,38,199,0.7672045624890581) 25%, rgba(75,13,73,0) 60%);
	display: flex;
	flex-direction: column;
	background-color: var(--bg-primary);
	border-radius: 12px;
	margin: 10px 10px 10px 10px;
	position: relative;
	
}

footer{
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--background);
}

footer .col{
	width: 25%;
	display: flex;
	
}
footer > :nth-child(2){
	width: 30%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer .col .col-icon-cont{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .col .col-icon-cont .icons{
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.footer .col .col-icon-cont > :first-child > :last-child.flip-horizontal {
    transform: scaleX(-1);
}
footer .col .col-icon-cont .icons i{
	font-size: 1.35rem;
	opacity: .8;
}
.play-pause{
	border-radius: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.play-pause i{
	font-size: 1.5rem;
}

#modal{
	width: 180px;
	height: max-content;
	background-color: var(--context-menu);
	position: absolute;
	z-index: 10;
	flex-direction: column;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 25px -1px rgba(16, 16, 18, 1);
	-moz-box-shadow: 0px 2px 25px -1px rgba(16, 16, 18, 1);
	box-shadow: 0px 2px 25px -1px rgba(16, 16, 18, 1);
}

#modal button{
	font-size: .85rem;
	font-weight: 560;
	opacity: .95;
	transition: .1s;
	padding: 15px;
}

#model button:hover{
	background-color: var(--bg-hover);
	transition: .2s;
	cursor: pointer;
}

#playlist-modal{
	width: 180px;
	height: max-content;
	background-color: var(--context-menu);
	position: absolute;
	z-index: 10;
	flex-direction: column;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 25px -1px rgba(16, 16, 18, 1);
	-moz-box-shadow: 0px 2px 25px -1px rgba(16, 16, 18, 1);
	box-shadow: 0px 2px 25px -1px rgba(16, 16, 18, 1);
}

#playlist-modal button{
	font-size: .85rem;
	font-weight: 560;
	opacity: .95;
	transition: .1s;
	padding: 15px;
}

#playlist-view {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px); 
    z-index: 1;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#playlist-view > .wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	position: relative;
}

.main > header{
	border-radius: 8px 8px 0 0;
	height: 70px;
	position: sticky;
	z-index: 10;
	top: 0;

}
.header-playlist{
	background-color: rgba(255, 255, 255, .08) ;
}

.main > header > .menu{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main > header > .menu .col{
	display: flex;
	width: 100%;
	gap: 15px;
	justify-content: flex-start;
	font-size: 1.2rem;
	padding-left: 15px;
}
.main > header > .menu > :last-child{
	justify-content: flex-end;
	width: min-content;
	padding-left: 0;
	padding-right: 15px;
}

.menu .col .icon-cnt{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 360px;
	background-color: rgba(0, 0, 0, .65);

}

.menu .col .icon-cnt:hover{
	background-color: rgba(0, 0, 0, .75);
	transition: .2s;
	cursor: pointer;

}
.menu .col .icon-cnt i{
	font-size: 1.25rem;
	opacity: .8;

}
.menu span{
	align-self: center;
	opacity: .85;
	font-size: 1.25rem;
	font-weight: 560;
}


#playlist-view > .wrapper >section{
	background-color: rgba(255, 255, 255, .08) ;
	z-index: -10;
	min-height: 25%;
	display: flex;
	padding: 10px;
	-webkit-box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.08);
}

#playlist-view > .wrapper > section > .playlist-info{
	display: flex;
	padding-left: 10px;
}

#playlist-view > .wrapper > section > .playlist-info > .playlist-icon{
	border-radius: 12px;
	height: 235px;
	width: 235px;
}

.playlist-icon > img{
	width: 100%;
	height: 100%;
	border-radius: 16px;
}