<section id="home">
    <container>
        <section>
            <div class="title">
                <span>Good afternoon</span>
            </div>
            <container class="playlists">
                <article>
                    <div>
                        <img src="/src/assets/images/covers/likedCover.png"> 
                    </div>
                    <div></div>
                </article>
                <article>
                    <div>
                        <img src="/src/assets/images/covers/basic-cover.png"> 
                    </div>
                    <div></div>
                </article>
                <article>
                    <div>
                        <img src="/src/assets/images/covers/basic-cover.png"> 
                    </div>
                    <div></div>
                </article>
                <article>
                    <div>
                        <img src="/src/assets/images/covers/basic-cover.png"> 
                    </div>
                    <div></div>
                </article>
                <article>
                    <div>
                        <img src="/src/assets/images/covers/basic-cover.png"> 
                    </div>
                    <div></div>
                </article>
                <article>
                    <div>
                        <img src="/src/assets/images/covers/basic-cover.png"> 
                    </div>
                    <div></div>
                </article>
            </container>
        </section>



        <section class="home-section">
            <div class="title">
                <span>Made for Alex</span>
            </div>
            <container class="playlists">
         </container>
        </section>
        
        <section class="home-section">
            <div class="title">
                <span>Recently played</span>
            </div>
            <container class="playlists">
            </container>
        </section>

        <section class="home-section">
            <div class="title">
                <span>Your playlists</span>
            </div>
            <container class="playlists">
            </container>
        </section>

    </container>
</section>