<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/src/assets/styles/home/style.css" rel="stylesheet">
    <link href="/src/assets/styles/global.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    
    <title>SpotiClone</title>
</head>
<body>
    
    <header></header>

    <main>
        <div class="main-section">
            <aside>
                <section>
                    
                    <button class="btn-primary" id="home-btn">
                        <div class="icon-container">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <span>Home</span>
                    </button>
    
                    <button class="btn-primary">
                        <div class="icon-container">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <span>Search</span>
                    </button>
    
                </section>
    
                <section>
                    <container class="section-wrapper">
                        <nav >
                            <div class="nav-title">
                                <div class="title">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-bars"></i>
                                    </div>  
                                    <span>Your Library</span>
                                </div>
        
                                <div class="nav-icons">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>  
                                    <div class="icon-container">
                                        <i class="fa-solid fa-arrow-right" class="icon"></i>
                                    </div>  
                                </div>
                             
                            </div>
                            <div class="filters">
                                <div class="filters-wrapper">
                                    <div class="filter">
                                        <span>Playlists</span>
                                    </div>
                                    <div class="filter">
                                        <span>Podcasts & shows</span>
                                    </div>
                                    <div class="filter">
                                        <span>Albums</span>
                                    </div>
                                    <div class="filter">
                                        <span>Artists</span>
                                    </div>
                                    <div class="filter">
                                        <span>Downloaded</span>
                                    </div>
                                </div>
                            </div>
                            <div class="menu">
                                <div>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div>
                                    <span>Recents</span>
                                    <i class="fa-solid fa-border-all"></i>
                                </div>
                            </div>
                        </nav>
                        <div class="playlists-container">
                            <div class="playlists-wrapper">
    
                            </div>
                        </div>
    
                    </container>
                    
                </section>
    
            </aside>
    
            <section class="main">
                <header>
                    <div class="menu">
                        <div class="col">
                            <div class="icon-cnt">
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                            <div class="icon-cnt">
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                            <span style="display: none">Liked Songs</span>
                        </div>
                        <div class="col">
                            <div class="icon-cnt">
                                <i class="fa-regular fa-bell"></i>
                            </div>
                            <div class="icon-cnt">
                                <i class="fa-regular fa-bell"></i>
                            </div>
                            <div class="icon-cnt">
                                <i class="fa-regular fa-user"></i>
                            </div>
                        </div>
                    </div>
                </header>
    
                <div class="col-1">
    
                    <div class="title">
                        <span></span>
                    </div>
    
                    <container class="playlists-container">
                        
                    </container>
    
                </div>

                <article id="playlist-view">
                    <container class="wrapper">
                       
                        <section>
                            <div class="playlist-info">
                                <div class="playlist-icon">
                                    <img src="/src/assets/images/playlists/playlist-icon-basic.png">
                                </div>
                                <div class="info">
                                    <p></p>
                                    <h1>${playlist.name}</h1>
                                    <span>alex 11 songs 58 min 17 sec</span>
                                </div>
                            </div>
                        </section>
                        <div class="show-more"></div>
                        <container class="playlists-container">
                            <div class="playlists-title">${playlist.id}</div>
                            <div class="wrapper"></div>
                        </container>
                    </container>
                </article>

            </section>

        </div>

        <footer>
            <div class="col"></div>
            <div class="col">
                <div class="col-icon-cont">
                    <div class="icons">
                        <i class="fa-solid fa-shuffle"></i>
                        <i class="fa-solid fa-forward-step fa-rotate-180"></i>
                    </div>
    
                    <div class="play-pause">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    
                    <div class="icons">
                        <i class="fa-solid fa-forward-step"></i>
                        <i class="fa-solid fa-repeat"></i>
                    </div>
                </div>
                <div class="time-bar">
                    <span>2.02</span>
                    <div class="bar"></div>
                    <span>4.45</span>
                </div>
            </div>
            <div class="col"></div>
        </footer>
    </main>

    <div id="modal" style="display: none;">
        <button class="btn-primary" name="create-playlist-btn">Create playlist</button>
    </div>
    <div id="playlist-modal" style="display: none;">
        <button class="btn-primary" name="delete-playlist-btn">Delete</button>
    </div>

</body>

</html>

<script src="https://kit.fontawesome.com/c52b7a3e6e.js" crossorigin="anonymous"></script>
<script src="/src/scripts//playlists.js"></script>
<script src="/src/scripts//contextmenu.js"></script>

<script>
    const songsUrl = "https://gist.githubusercontent.com/techniadrian/c39f844edbacee0439bfeb107227325b/raw/81eec7847b1b3dfa1c7031586405c93e9a9c1a2d/songs.json"
    const genresUrl = "https://gist.githubusercontent.com/techniadrian/6ccdb1c837d431bb84c2dfedbec2e435/raw/60783ebfa89c6fd658aaf556b9f7162553ac0729/genres.json"

    let songs = []
    let genres = []
    let playlists = []
    let playListIndex = 0; 
    let clickCounter = 0; 

    let currentPage = "view"

    async function fetchData(list, url){
        const response = await fetch(url)
        const data = await response.json()

        for (item in data){
            list.push(data[item])
        }
    }

    async function fetchAll(){
        await fetchData(songs, songsUrl)
        await fetchData(genres, genresUrl)

    }


    function changePage(view, currentPage, playlist){
        view.innerHTML = "";
        if (currentPage === "view") {
            view.style.display = "flex";
            console.log(currentPage, playlist.id)
            handlePlaylistView(playlist)

        } else if (currentPage === "home") {
            view.style.display = "none";
        }
    }


    function selectImage(){

    }

    function handlePlaylistView(playlist){
        const view = document.getElementById("playlist-view");
        const viewElement = document.createElement("container");
        viewElement.className = "wrapper";
        viewElement.innerHTML = `
            <header>
                <div></div>
            </header>
            <section>
                <div class="playlist-info">
                    <div class="icon-container">
                        <img src="/src/assets/images/playlists/playlist-icon-basic.png">
                    </div>
                    <div class="info">
                        <p></p>
                        <span>${playlist.name}</span>
                        <span>alex 11 songs 58 min 17 sec</span>
                    </div>
                </div>
            </section>
            <div class="show-more"></div>
            <container class="playlists-container">
                <div class="playlists-title">${playlist.id}</div>
                <div class="wrapper"></div>
            </container>
        `
        view.appendChild(viewElement)


        console.log(playlist)
    }

    function loadPlaylists() {
        loclalStoragePlaylists = JSON.parse(localStorage.getItem("playlists"));
        localStoragePlaylistsIndex = localStorage.getItem("playlists-index");

        if (localStoragePlaylistsIndex) {
            playListIndex = localStoragePlaylistsIndex;
        } else {
            playListIndex = 0;
        }

        if (loclalStoragePlaylists) {
            playlists = loclalStoragePlaylists;
            for (playlist of playlists) {
                createPlaylists(playlist, localStoragePlaylistsIndex);
            }
        } else {
            console.log("No playlists found in local storage");
        }
    }
    

    function onLoad() {
        const playlistsWrapper = document.querySelector(".playlists-wrapper");
        const playlistModal = document.getElementById("playlist-modal");
        const view = document.getElementById("playlist-view");

        const homeBtn = document.getElementById("home-btn");
        homeBtn.addEventListener("click", () => {
            changePage(view, "home")
        })

        fetchAll()
        loadPlaylists()
        handleContainerContextMenu(playlistModal, playlistsWrapper, songs)
    } 

   
</script>