:root{
    --text-primary: rgb(255, 255, 255);
    --background: rgb(5, 0, 2);
    --bg-primary: rgba(18, 18, 18, 0.863);
    --bg-secondary: rgb(62, 5, 32);
    --accent: rgb(40, 36, 36);
    --bg-hover: rgba(212, 212, 212, 0.178);
    --bg-active: rgb(5, 0, 2, 1);
    --context-menu: #282828;
    --header: #7214c2;
    --gradient-color: rgba(186, 17, 192, 0.767);
}

.btn-primary{
    background-color: transparent;
    height: 50%;
    width: 100%;
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
}

.btn-primary:hover{
    background-color: var(--bg-hover);
    transition: .2s;
    cursor: pointer;
}

.icon-container{
    display: flex;
    align-items: center;
    color: white !important;
    gap: 1px;
    font-size: 1.1rem;
    opacity: .60;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: background-color 0.3s ease; 
}

*:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}